:root {
  --primary: #ef2020;
  --dark: #232323;
  --light: #e3dada;
}

@font-face {
  font-family: 'monumental';
  src: url('../assets/fonts/monumental.otf');
}
@font-face {
  font-family: 'poppins';
  src: url('../assets/fonts/poppins.ttf');
}
.heading {
  font-family: 'monumental';
  font-size: 4rem;
}
.sub-heading {
  font-family: 'monumental';
  font-size: 2.5rem;
}
.paragraph {
  font-family: 'poppins';
  font-size: 18px;
}
.text-primary {
  color: var(--primary);
}
.text-dark {
  color: var(--dark);
}
.text-light {
  color: var(--light);
}
.bg-primary {
  background-color: var(--primary);
}
.bg-dark {
  background-color: var(--dark);
}
.bg-light {
  background-color: var(--light);
}
