body{
  height: 100%;
  position: relative;
  background-color: #222;
  font-family: 'vidalok';
  color: #eee;
}
@font-face {
  font-family: 'monumental';
  src: url('../fonts/monumental.otf');
  color: #eee;
}
@font-face {
  font-family: 'vidalok';
  src: url('../fonts/vidalok.otf');
}
.text-xxl{
  font-size: 4rem;
  font-family: 'monumental';
  color: #eee;
  text-transform: uppercase;
}
@media screen and (max-width:768px){
  .text-xxl{
      font-size: 3rem;
  }
}
.text-xl{
  font-size: 2.5rem;
  font-family: 'monumental';
  color: #eee;
}
.nav-bar ul{
  display: inline-flex;
  font-family: 'monumental';
  color: #eee;
  list-style-type: none;
}
.nav-bar li{
  padding: 10px .75rem 10px 10px;
}
.navBar{
  background-color: rgba(0,0,0,0);
  width: 100%;
}
.navbar-light .navbar-toggler{
  background-color: #e22 !important;
}
.red{
  color: #e22;
}
.list-a{
  font-family: 'monumental';
  font-size: 20px;
  list-style-type: none;
  color: #eee;
}
.anim-blink{
  animation: blink infinite .5s linear;
  visibility: hidden;
}
@keyframes blink {
  0%{
    opacity: 0;
    visibility: hidden;
  }
  100%{
    opacity: 1;
    visibility: visible;
  }
}
.nav-bar .navbar__link {
  color: #eee;
  background-color: rgba(255, 0, 0, 0);
  transition: .5s linear;
  text-decoration: none;
}
.nav-bar .navbar__link:hover{
  color: #e22;
}
.active{
  text-decoration: underline;
  color: #e22 !important;
  background-color: #222;
}
footer{
  height: 10rem;
  position: absolute;
  bottom: 0;
  padding: 30px 20px 20px 20px;
  /* background-color: #e22; */
  background:linear-gradient(90deg, #e22 0%,#e62 100% );
  width: 100%;
  font-family: 'monumental';
}
@media screen and (max-width:768px) {
  footer{
    height: 20rem;
    position: absolute;
    bottom: 0;
  }
}
.sticky-header{
  position: sticky;
  top: 0px;
  background-color: #222;
}
.social-icons{
  font-size: 24px;
  padding: 10px;
  color: #111 !important;
  text-decoration: none;
  transition: 1s ease;
}
.social-icons:hover{
  font-size: 28px;
}
.image-port{
  width: 50%;
  transform: rotate(10deg);
  animation: port-rotate 2s linear;
  transition: 2s ease;
}
.image-port:hover{
  transform: rotate(5deg);
}
.fadeUp-anim{
  animation: fadeUp 2s ease;
}
@keyframes fadeUp {
  0%{
    visibility: hidden;
    opacity: 0;
    padding-top: 50px;
  }
  100%{
    opacity: 1;
    padding-top: 0px;
    visibility: visible;
  }
}
@keyframes port-rotate {
  from{
    transform: rotate(20deg);
  }
  to{
    transform: rotate(10deg);
  }
}
.para::before{
  content: "\00a0\00a0\00a0\00a0";
}
.para{
  color: #eee;
  text-align: justify;
  font-size: 18px;
}
.intro-box{
  padding: 10px 5px 10px 5px;
  border-radius: 10px;
  border: 1px solid #e22;
}
.intro-box ul{
  list-style: none;
  font-size: 22px;
  text-align: justify;
  font-family: 'monumental';
}
@media screen and (max-width: 768px) {
  .intro-box ul{
    font-size: 16px;
  }
}
.dark{
  color: #222;
}
.edu h5{
  font-size: 24px;
  font-family: 'monumental';
}
.edu{
  padding: 10px;
  border-radius: 7px;
  border-left: 4px solid #e22;
}
.edu span{
  font-size: 18px;
  color: #e22;
  font-family: 'vidalok';
}
.edu p{
  font-size: 20px;
}
.skill-con h3{
  font-family: 'monumental';
  display: flex;
}
.skill{
  /* overflow-y: hidden; */
  text-align: center;
  padding: 10px;
  transition: 1s ease;
  display: inline-flex;
}
.skill-icon{
  font-size: 50px;
  transition: 1s ease;
  /* margin-bottom: -10px; */
}
.skill-icon:hover{
  font-size: 60px;
}

.skill-name{
  /* width: 100px; */
  font-size: 16px;
  padding-top: 0px;
  margin-top: -15px;
}
.service{
  border-left: 4px solid #e22;
  border-radius: 7px;
  padding: 10px;
}
.service h3{
  font-family: 'monumental';
  font-size: 24px;
}
.service p{
  text-align: justify;
  font-size: 18px;
}
#myHeader{
  transition: 1s ease;
}
.sticky-header{
  position: fixed;
  top: 0px;
}
