body{
  height: 100%;
  position: relative;
  background-color: #eee;
  font-family: 'vidalok';
  color: #222;
  overflow-x: hidden;
}
header{
  transition: 1s ease;
  width: 100%;
  z-index: 25;
}
@font-face {
  font-family: 'monumental';
  src: url('../fonts/monumental.otf');
}
@font-face {
  font-family: 'vidalok';
  src: url('../fonts/vidalok.otf');
}
.text-xxl{
  font-size: 4rem;
  font-family: 'monumental';
  color: #222;
  text-transform: uppercase;
}
@media screen and (max-width:768px){
  .text-xxl{
      font-size: 3rem;
  }
}
@media screen and (max-width:320px){
  .text-xxl{
      font-size: 2rem;
  }
}
.text-xl{
  font-size: 2.5rem;
  font-family: 'monumental';
  color: #222;
}
.red{
  color: #e22 !important;
}
.list-a{
  font-family: 'monumental';
  font-size: 20px;
  list-style-type: none;
  color: #222;
}
.anim-blink{
  animation: blink infinite .5s linear;
  visibility: hidden;
}
@keyframes blink {
  0%{
    opacity: 0;
    visibility: hidden;
  }
  100%{
    opacity: 1;
    visibility: visible;
  }
}
footer{
  height: 12rem;
  position: absolute;
  bottom: 0;
  padding: 30px 20px 20px 20px;
  background:linear-gradient(90deg, #222 0%,#523232 100% );
  width: 100%;
  font-family: 'monumental';
}
@media screen and (max-width:768px) {
  footer{
    height: 20rem;
    position: absolute;
    bottom: 0;
  }
}
.sticky-header{
  position: fixed;
  top: 0px;
  /* background-color: #222; */
  animation: .5s nav-anim;
}
.social-icons{
  font-size: 38px;
  padding: 10px;
  color: #e22 !important;
  text-decoration: none;
  transition: 1s ;
}
.social-icons:hover{
  color: #eee !important;
}

a:hover{
  text-decoration: none;
}

.para::before{
  content: "\00a0\00a0\00a0\00a0";
}
.para{
  color: #222;
  text-align: justify;
  font-size: 18px;
}

.footer-text{
  color: #e22;
}
h1,h2,h3,h4,h5,h6{
  font-family: 'monumental';
}
.nav-btn{
  background-color: #e22;
  border-radius: 0px;
  padding-top: 20px;
  font-size: 22px !important;
  color: #222;
  margin: 0px !important;
}
.nav-btn:hover{
  box-shadow: 0 0 20px #e22;
}
.nav-con{
  z-index: 100;
  position: fixed;
  width: 100%;
  height: 100%;
  visibility: hidden;
  transition: .3s linear;
  opacity: 0;
  background-color: #222e;
  top:0px;
  padding-top: 20px;
  overflow: hidden;
}
@keyframes nav-anim {
  from{
    /* position: absolute; */
    top: -100px;
  }
  to{
    /* position: fixed; */
    top: 0px;
  }
}
.close-btn{
  position: absolute;
}
.nav-bar{
  list-style-type: none;
}
.nav-item{
  font-family: 'monumental';
  color: #eeea;
  transition: 1s;
  font-size: 28px;
  line-height: 2;
}
.nav-item:hover{
  color: #eee;
}
a{
  color: inherit !important;
}
.nav-item.active{
  color: #e22;
}
.top-con{
  height: 500px;
  align-items: center;
}
.image-bg{
  position: absolute;
  z-index: -1;
}
.image-bg img{
  width: 100%;
}
.image-fg img{
  width: 100%;
}
.main-text{
}
@media screen and (min-width: 768px){
  .main-text{
    margin-top: 150px;
  }
}
.cardy{
  box-shadow: 10px 10px 20px #8885;
  border-radius: 20px;
}
.cell-left, .cell-right{
  margin: 10px;
}
@media screen and (min-width:768px) {
  .cell-left{
    margin-top: -50px;
    text-align: left;
  }
  .cell-right{
    text-align: right;
    margin-top: 50px;
  }
}
.home-about{
  padding: 30px;
}
.home-about-img{
  width: 100%;
  overflow: hidden;
}
.home-about-img img{
  width: 100%;
}
.home-about ul{
  list-style-type: square;
  font-size: 20px;
  text-align: left !important;
}
.home-services-img{
  width: 100%;
  overflow: hidden;
}
.home-services-img img{
  width: 100%;
}
.btn{
  outline: none !important;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bolder;
  font-family: 'monumental';
  letter-spacing: 2px;
}
.btn-1{
  color: #eee;
  background-color: #e22;
}
.btn-1:hover{
  box-shadow: 0 0 10px #e22;
}
.logo-nav{
  background-color: #eeee;
  border-radius: 20px;
}
.logo-nav img{
  width: 100%;
}
.proj-count{
  background-color: #e22;
  color: #eee;
  padding: 40px 0px 40px 0px;
  text-align: center;
}
.inverse{
  color: #eee;
  background-color: #e22;
}
.car-img{
  width: 100%;
  overflow: hidden;
}
.car-img img{
  width: 100%;
}
.design-overlay{
 padding: 30px;
 background-color: #eeea;
 visibility: hidden;
 opacity: 0;
 height: 0;
 width: 100%;
 position: absolute;
 bottom: 0;
 transition: .5s ease;
}
.design-overlay h5{
  color: #e22 !important;
}
.car-img:hover .design-overlay{
  height:100%;
  visibility: visible;
  opacity: 1;
}
.form-control2 input, textarea{
  outline: none;
  padding: 5px;
  border: 2px solid #ccc;
  border-radius: 10px;
  width: 100%;
  margin: 10px;
  font-size: 20px;
}
.form-control2 input:focus, textarea:focus{
  border: 2px solid #e22;
}

/* project layout */
.proj-mockup{
  z-index: 35;
  text-align: left !important;
  padding: 50px 0 100px 0;
}
.proj-mockup img{
  width: 100%;
}
.proj-desc-con{
  padding-bottom: 30px;
  position: relative;
}
.proj-desc-con img{
  position: absolute;
  transition: 1s;
  border-radius: 20px;
  width: 90%;
  box-shadow: 10px 10px 15px #5555;
}
.proj-img{
  width: 90%;
  margin: 20px;
  border-radius: 20px;
  box-shadow: 15px 15px 20px #8885;
}
.proj-desc{
  max-width: 60%;
  border-radius: 20px;
  z-index: 30;
  right: 0px;
  top: 50px;
  position: absolute;
  padding: 30px;
}
.proj-desc2{
  width: 100%;
  border-radius: 20px;
  padding: 30px;
}
.proj-mockup ul{
  margin: 10px;
  list-style-type: none;
  font-family: 'monumental';
  padding: 30px;
  color: #e22;
  line-height: 1.5;
}
@media screen and (max-width: 768px) {
  .proj-desc-con{
    margin: 5px 0px 30px 0px;
    display: block;
  }
  .proj-desc-con img{
    width: 100%;
  }
  .proj-desc{
    left: 10%;
    top: 50px;
    position: relative;
    max-width: 80%;
  }
  .proj-desc1{
    left: 10%;
    top: 50px;
    position: relative;
    width: 100%;
  }
  .proj-mockup{
    padding: 10px;
  }
}
.btn-3{
  color: #e22;
  background-color: #eee;
  border: 2px solid #eee;
}
.btn-3:hover{
  box-shadow: 0 0 15px #eee;
}
.component{
  padding-top: 2rem;
  height: 100vh;
  overflow-y: scroll;
}
.carousel-container{
  width: 100%;
  overflow-y: visible;
}
.component::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.component {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.full-page-section{
  padding-top: 10vh;
  height: 100vh;
  width: 100%;
  background-blend-mode: soft-light;
  background-attachment: fixed;
  background-size: 100vh 100vh;
  background-repeat: no-repeat;
  background-color: #000c !important;
  color: #eee;
}
